<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace = "web"> 
  <insert id="create" parameterType="WebVO">
    INSERT INTO WEB(wb_no, 
                          wb_title, wb_content, wb_good, wb_file1, wb_file2, wb_size2,
                          wb_cnt, wb_replycnt, wb_date, wb_indent, wb_ansnum)  
    VALUES((SELECT NVL(MAX(wb_no), 0) + 1 as wb_no FROM WEB),
                          #{wb_title}, #{wb_content}, 0, #{wb_file1}, #{wb_file2}, #{wb_size2}, 
                          0, 0, sysdate, 0, 0) 
  </insert> 

  <select id="list" resultType="WebVO">
    SELECT wb_no,
           wb_title, wb_content, wb_good, wb_file1, wb_file2, wb_size2, wb_cnt, wb_replycnt, wb_date,
           wb_indent, wb_ansnum
    FROM WEB
    ORDER BY wb_no DESC 
  </select> 
  
    <select id="read" resultType="WebVO" parameterType="int">
    SELECT wb_no,
           wb_title, wb_content, wb_good, wb_file1, wb_file2, wb_size2, wb_cnt, wb_replycnt, wb_date,
           wb_indent, wb_ansnum
    FROM WEB
    WHERE wb_no=#{wb_no}
  </select>
  
    <update id='update' parameterType="WebVO">
    UPDATE WEB
    SET wb_title=#{wb_title}, wb_content=#{wb_content}, wb_file1=#{wb_file1}, wb_file2=#{wb_file2}, wb_size2=#{wb_size2}
    WHERE wb_no=#{wb_no}
  </update>
  
  <delete id="delete" parameterType="int">
    DELETE FROM WEB 
    WHERE wb_no=#{wb_no}
  </delete>

</mapper>